

.header {
    background: #FFF;
    box-shadow: 0px 6px 16px 0px #E0EBFF;
    padding: 36px 0;
    transition: all 0.3s ease-in;
    @media (max-width:767px) {
        padding: 10px 0;
    }
    &.pin{
        background: var(--color-base);
        padding: 15px 0;
        top: 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        a{
            color: #fff;
        }
    }
    .navbar{
        padding: 0;
        .logo{
            img{
                width: 200px;
                @media (max-width:767px) {
                    width: 150px;
                }
            }
            .white{
                display: none;
            }
        }
        .navbar-nav{
            font-size: 18px;
            font-weight: 500;
            line-height: 150%; /* 27px */
            text-transform: uppercase;
            @media (max-width:767px) {
                margin-top: 20px;
            }
            .nav-item{
                padding-left: 10px;
                padding-right: 10px;
            }
            a{
                color: var(--color-base);
                padding-left: 10px;
                padding-right: 10px;
                border-bottom: 1px solid transparent;
                @media (max-width:767px) {
                    padding: 10px 0;
                }
            }
            .active, .nav-item:hover{
                a{
                   border-bottom: 1px solid;
                }
            }
        }
        .form-inline {
            position: relative;
            .form-control{
                border: 1px solid var(--color-base);
                background: transparent;
            }
            .btn{
                position: absolute;
                right: 5px;
                top: 4px;
                color: #fff;
                width: 40px;
                height: 40px;
                background: var(--color-base);
            }
        }
    }
    &.pin{
        background: var(--color-base);
        padding: 15px 0;
        top: 0;
        position: fixed;
        left: 0;
        z-index: 99;
        right: 0;
        margin: 0 auto;
        @media (max-width:767px) {
           background: #fff;
        }
        .form-control{
            color: #fff;
            &::placeholder{
                color: #fff;
            }
            border: 1px solid #fff !important;
        }
        a{
            color: #fff !important;
        }
        .navbar{
            .logo{
                .green{
                    display: none;
                }
                .white{
                    display: block;
                }
            }
        }
        .btn{
            background-color: #fff !important;
            color: var(--color-base) !important;
        }
        
        
    }
}
.homepage{
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(8px);
        box-shadow: none;
        transition: all 0.3s ease-in;
        @media (max-width:767px) {
            background: #fff;
         }
        .form-control{
            border: 1px solid #fff !important;
            color: #fff;
            &::placeholder{
                color: #fff;
            }
        }
        .btn{
            background-color: #fff !important;
            color: var(--color-base) !important;
        }
        .navbar{
            .logo{
                .green{
                    display: none;
                }
                .white{
                    display: block;
                }
            }
        }
        a{
            color: #fff !important;
        }
        &.pin{
            background: var(--color-base);
            padding: 15px 0;
            top: 0;
            position: fixed;
            left: 0;
            right: 0;
            margin: 0 auto;
            @media (max-width:767px) {
                background: #fff;
             }
            .form-control{
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
                border: 1px solid #fff;
            }
            .navbar{
                .logo{
                    .green{
                        display: none;
                    }
                    .white{
                        display: block;
                    }
                }
            }
            a{
                color: #fff !important;
            }
            .btn{
                background-color: #fff !important;
                color: var(--color-base) !important;
            }
        }
    }
}