<!-- Footer Start-->
<footer class="footer">
    <div class="container">
        <div class="topfooter">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4 class="title">hỗ trợ khách hàng</h4>
                    <div class="hotline">Hotline CSKH: 012 345 6789</div>
                    <p class="time">(từ 8h30-17h30 Thứ 2 đến Thứ 6)</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4 class="title">Hiểu thêm về BioLife</h4>
                    <ul class="links">
                        <li><a href="">Về BioLife</a></li>
                        <li><a href="">Báo chí nói gì về BioLife</a></li>
                        <li><a href="">Cơ hội nghề nghiệp</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4 class="title">chăm sóc khách hàng</h4>
                    <ul class="links">
                        <li><a href="">Trung tâm hỗ trợ</a></li>
                        <li><a href="">Chính sách khuyến mãi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4 class="title">hình thức thanh toán</h4>
                    <ul class="social">
                        <li><a href=""><img src="assets/images/shoppe.png" alt="" /></a></li>
                        <li><a href=""><img src="assets/images/fb.png" alt="" /></a></li>
                        <li><a href=""><img src="assets/images/yt.png" alt="" /></a></li>
                        <li><a href=""><img src="assets/images/tiktok.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="midfooter">
            <div class="row">
                <div class="col-md-9">
                    <div class="logo"><a href=""><img src="assets/images/Logo_BIOLIFE.png" alt="" /></a></div>
                    <p class="slogan">CÔNG TY TNHH Biolife</p>

                    <ul class="info">
                        <li><a href="tel:0365809316"><i class="icon icon-hotline"></i>036 5809 316</a></li>
                        <li><a href="mailto:biolife.vn@gmail.com"><i class="icon icon-map"></i>biolife.vn@gmail.com</a>
                        </li>
                        <li><i class="icon icon-mail"></i>D25-47, Khu D, Khu đô thị Geleximco, Lê Trọng Tấn, Dương Nội,
                            Hà Đông, Hà Nội</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 class="tt-footer">PHƯƠNG THỨC THANH TOÁN</h4>
                    <div class="payment">
                        <ul>
                            <li><img src="assets/images/mastercard.png" alt="" /></li>
                            <li><img src="assets/images/jcb.png" alt="" /></li>
                            <li><img src="assets/images/visa.png" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2024 BioLife. All Rights Reserved. <br />
                        Design by XTech.vn</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <img src="assets/images/logoSaleNoti.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->