<div class="item-product">
    <a href="">
        <div class="box-thumb">
            <div class="thumb-product">
                <img src="./assets/images/product.jpg" alt="" />
            </div>
        </div>
        <div class="box-info">
            <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
            <div class="flex-price">
                <div class="price-sale">689,098đ</div>
                <div class="price-old">689,098đ</div>
            </div>
        </div>
    </a>
</div>